* {
  box-sizing: border-box;
  margin: 0;
}

#body {
  font-family: "Nunito", sans-serif;
  background-color: #906272;
}

a {
  color: white;
}

.aboutBox {
  margin: 100px auto;
}

/*colors  pink: #906272;   dark brown: #414141;   gray: #525252;  */

.handwriting {
  font-family: "Dancing Script", cursive;
}

.name1 {
  position: relative;
  margin-top: -15%;
  margin-left: -10%;
}

.price {
  position: relative;
  margin-top: -17%;
  margin-left: 5%;
  font-size: 3rem;
}

#image {
  width: 40vh;
}

.image {
  width: 60vh;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
}

.textAbout {
  text-align: justify;
}

.awards {
  width: 87%;
}

@media screen and (max-width: 533px) {
  .price {
    font-size: 1.7rem;
  }
}

.radius {
  border-radius: 7px;
}

#bodyContact {
  font-family: "Nunito", sans-serif;
  background-image: url("../img/imgContactAbout/camera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(233, 229, 229, 0.452);
}

.lense {
  width: 15vmin;
}

.layer {
  background-color: #6d5a618a;
  color: rgba(233, 229, 229, 0.452);
}

.links > a {
  color: rgba(233, 229, 229, 0.452);
}

.input {
  height: 7vh;
  border-radius: 10px;
  background: rgba(233, 229, 229, 0.452);
  outline: none;
  border: none;
}

.btn {
  height: 7vh;
  background: rgba(34, 28, 30, 0.37);
  outline: none;
  border-radius: 10px;
  color: rgba(233, 229, 229, 0.452);
}

.textarea {
  border-radius: 10px;
  background: rgba(233, 229, 229, 0.452);
  outline: none;
  border: none;
}

form {
  width: 50%;
}


@media screen and (max-width: 550px) and (min-width: 900px) {
form {
    width: 100%;
  }
}



@media screen and (max-width: 550px) {
  form {
    width: 100%;
  }
}

#issue * {
  background: rgb(142, 182, 163);
}

.navContact {
  border-bottom: 1px solid rgba(233, 229, 229, 0.452);
}

.footerContact {
  border-top: 1px solid rgba(233, 229, 229, 0.452);
}

.natalia > a {
  color: rgba(233, 229, 229, 0.452);
  font-size: 2.2rem;
}
