/* color1: #906272;
color2: #414141;
color3: #525252; */

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #906272 ;
}

.inpStyle {
    background-color: #525252  ;
    color: white;
}